@font-face {    
    font-family:"exo2";
    src:url("../fonts/Exo2-Regular.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {    
    font-family:"exo2light";
    src:url("../fonts/Exo2-Light.otf") format("truetype");
    font-style: normal;
}
@font-face {    
    font-family:"exo2bold";
    src:url("../fonts/Exo2-Bold.otf") format("truetype");
    font-style: normal;
}
body{
    width:100%;
    height:auto;
}
*{
    font-family:"exo2";
    color:#FFFFFF;
    background-size:cover;
    margin:0;
}
a{
    text-decoration:none;
    z-index:5;
}
.another-opacity a:hover{
    background-color:black;
    padding:5px;
}
ul{
    list-style:none;
}
.header{
    width:100%;
    height:auto;
    z-index:1;
}
.white-part{
    width:100%;
    background-color:#FFFFFF;
}
.head{
    width:100%;
    height:587px;
}
.head img{
    z-index:1;
    height:587px;
}
.header-opacity{
    width:100%;
    height:587px;
    background-image:url(../img/main-opacity.png);
    z-index:2;
}
.another-opacity{
    width:100%;
    background-image:url(../img/another-opacity.png);
}
.logo{
    background-image:url(../img/logo-bg.png);
    z-index:5;
    position: absolute;
}
.logo-one{
    width:6px;
    height:39px;
    background-image:url(../img/logo-pt1.png);
    position:absolute;
}
.logo-two{
    width:7px;
    height:43px;
    background-image:url(../img/logo-pt2.png);
    position:absolute;
}
.logo-three{
    width:31px;
    height:47px;
    background-image:url(../img/logo-pt3.png);
    position:absolute;
}
.logo-3-ins{
    width:21px;
    height:30px;
    background-image:url(../img/logo-pt3-1.png);
    margin-top:10px;
    margin-left:6px;
    position:absolute;
}
.logo-3-ins-v{
    width:29px;
    height:10px;
    background-image:url(../img/logo-pt3-2.png);
    margin-top:10px;
    margin-left:-5px;
    position:absolute;
}
.logo-3-ins-h{
    width:4px;
    height:28px;
    background-image:url(../img/logo-pt3-3.png);
    margin-top:2px;
    margin-left:9px;
    position:absolute;
}

.sandwich{
    width:25px;
    height:3px;
    margin-top:5px;
    margin-left:2.5px;
    background-color:#FFFFFF;
    border-radius:2px;
}
.green-line{
    width:100%;
    height:5px;
    background-color:#248f40;
}
.windows{
        width:100%;
        height:auto;
    }
.windows div{
    display:inline-block;
}
.how{
    width:100%;
    color:#636363;
    font-size: 20px;
    font-weight: 300; 
    margin-top:20px;
    text-align:center;
    text-decoration:underline;
}
.off-header{
    width:100%;
    height:auto;
    margin-top:63px;
}
.off-header h1{
    width:100%;
    font-size: 36px;
    font-weight: 300;
    color:#131313;
    display:inline-block;
    text-align:center;
}
.numb{
    color: #535353;
    font-size: 30px;
    font-weight: 600;   
}
.another-opacity button{
    border:none;
}
.btn{
    width: 250px;
    height: 49px;
    background-color: #ec360a;
    border:0px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
@media (max-width:720px){
    .header{
        top:-65px;
    }
    .header-opacity{
        position:absolute;
        top:24px;
    }
    .white-part{
        height:24px;
    }
    .white-part div{
        display:none;
    }
    .another-opacity{
        height:40px;
    }
    .another-opacity ul{
        display:none;
        float:right;
    }
    .menu-btn{
        width:40px;
        height:40px;
        background-color:inherit;
        float:right;
        margin-right:10px;
    }
    .logo{
        width:65px;
        height:65px;
    }
    .logo-text{
        display:none;
    }
    .logo-one{
        margin-top:16px;
        margin-left:5px;
    }
    .logo-two{
        margin-top:11px;
        margin-left:13px;
    }
    .logo-three{
        margin-top:7px;
        margin-left:23px;
    }
    .head-text{
        width:auto;
        height:auto;
        margin-top:30px;
        text-align:center;
        display:inline-block;
    }
    .head-text div{
        margin-top:15px;
    }
    .ht-h1{
        font-size: 45px;
        font-weight: 700;
    }
    .ht-text{
        font-size: 30px;
        font-weight: 300;   
    }
    .head-text button{
        margin-top:20px;
    }
    .ht-pres{
        font-size: 16px;
        font-weight: 300;
    }
    .ht-pres b{
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        text-transform: uppercase;
    }
    .offeres{
        width:100%;
        height:auto;
    }
    .container{
        width:270px;
    }
    .forma{
        display:none;
    }
    @-webkit-keyframes css-carousel {
        0%, 23% {margin-left:0}
        25%, 48% { margin-left:-100%; }
        50%, 73% { margin-left:-200%; }
        75%, 98% { margin-left:-300%;}
        100% { margin-left:0;}
    }
    @-moz-keyframes css-carousel {
        0%, 23% {margin-left:0}
        25%, 48% { margin-left:-100%; }
        50%, 73% { margin-left:-200%; }
        75%, 98% { margin-left:-300%;}
        100% { margin-left:0;}
    }
    @-ms-keyframes css-carousel {
        0%, 23% {margin-left:0}
        25%, 48% { margin-left:-100%; }
        50%, 73% { margin-left:-200%; }
        75%, 98% { margin-left:-300%;}
        100% { margin-left:0;}
    }
    @keyframes css-carousel {
        0%, 23% {margin-left:0}
        25%, 48% { margin-left:-100%; }
        50%, 73% { margin-left:-200%; }
        75%, 98% { margin-left:-300%;}
        100% { margin-left:0;}
    }  
    .re-3, .re-4, .re-5, .re-6, .re-7, .re-8{
        display:none;
    }
}
@media (min-width:721px){
    .header{
        top:-101px;
    }
    .header-opacity{
        top:48px;
        position:absolute;
    }
    .white-part{
        height:48px;
    }
    .white-part div{
        display:none;
    }
    .another-opacity{
        height:53px;
    }
    .another-opacity ul{
        display:none;
        float:right;
    }
    .menu-btn{
        width:40px;
        height:40px;
        background-color:inherit;
        float:right;
        margin-right:10px;
        margin-top:7px;
    }
    .logo{
        width:288px;
        height:101px;
    }
    .logo-one{
        margin-top:36px;
        margin-left:20px;
    }
    .logo-two{
        margin-top:31px;
        margin-left:28px;
    }
    .logo-three{
        margin-top:27px;
        margin-left:38px;
    }
    .logo-text{
        width: 186px;
        height: 38px;
        color: white;
        font-size:20px;
        font-weight:400;
        text-transform: uppercase; 
        margin-top:34px;
        margin-left:82px;
        position:absolute;
    }
    .head-text{
        width:auto;
        height:auto;
        float:left;
        margin-top:109px;
    }
    .ht-h1{
        width:100%;
        height:auto;
        text-align:center;
        font-size: 45px;
        font-weight: 700;
    }
    .ht-text{
        width:90%;
        height:auto;
        text-align:center;
        margin-top:20px;
        margin-left:5%;
        font-size: 30px;
        font-weight: 200;
    }
    .ht-pres{
        width:90%;
        height:auto;
        text-align:center;
        margin-top:20px;
        margin-left:5%;
        font-size: 16px;
        font-weight: 300;
    }
    .ht-pres b{
        margin-top:20px;
        margin-bottom:40px;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;  
    }
    .container{
        width:540px;
    }
    .head-text{
        text-align:center;
    }
    .head-text button{
        margin-top:50px;
    }
    .forma{
        display:none;
    }
    @-webkit-keyframes css-carousel {
        0%, 48% {margin-left:0}
        50%, 98% { margin-left:-100%; }
        100% { margin-left:0;}
    }
    @-moz-keyframes css-carousel {
        0%, 48% {margin-left:0}
        50%, 98% { margin-left:-100%; }
        100% { margin-left:0;}
    }
    @-ms-keyframes css-carousel {
        0%, 48% {margin-left:0}
        50%, 98% { margin-left:-100%; }
        100% { margin-left:0;}
    }
    @keyframes css-carousel {
        0%, 48% {margin-left:0}
        50%, 98% { margin-left:-100%; }
        100% { margin-left:0;}
    } 
    .re-3,.re-4, .re-5, .re-6, .re-7, .re-8 {
        display:none;
    }
}
@media(min-width:1140px){
    .another-opacity ul{
        width:auto;
        margin-left:298px;
        display:inline-block;
        float:left;
    }
    .nav-elem{
        display:inline-block;
        margin:18px 0 0 5px;
    }
    .another-opacity button{
        display:none;
    }
    .another-opacity a{
        padding:5px;
    }
    .head-text{
        margin-left:7%;
        text-align:left;
    }
    .ht-h1{
        text-align:left;
        margin-left:0;
    }
    .ht-text{
        width:650px;
        margin-top:20px;
        font-size: 30px;
        font-weight: 200;
        text-align:left;
        margin-left:0;
    }
    .ht-pres{
        text-align:left;
        margin-left:5%;
        
    }
    .white-part div{
        margin-top:16px;
        display:inline-block;
        color:#666;
        margin-left:30px;
        margin-right:10px;
        float:right;
    }
    .head-text button{
        display:none;
    }
    .forma{
        display:inline-block;
        margin-top:70px;
        margin-left:40px;
    }
    .container{
        width:1080px;
    }
    @-webkit-keyframes css-carousel {
        0%, 98% { margin-left:0; } 
        100% { margin-left:0;}
    }
    @-moz-keyframes css-carousel {
        0%, 98% { margin-left:0; } 
        100% { margin-left:0;}
    }
    @-ms-keyframes css-carousel {
        0%, 98% { margin-left:0; } 
        100% { margin-left:0;}
    }
    @keyframes css-carousel {
        0%, 98% { margin-left:0; } 
        100% { margin-left:0;}
    } 
}
@media(min-width:1200px){
    .another-opacity ul{
        width:auto;
        margin-left:32%;
        display:inline-block;
        float:left;
    }
    .nav-elem{
        display:inline-block;
        margin:18px 0 0 5px;
    }
    .head-text{
        margin-left:14%;
    }
    .ht-text{
        width:650px;
        margin-top:20px;
        font-size: 30px;
        font-weight: 200;
    }
    .logo{
        margin-left:10%;
    }
    .forma{
        margin-left:12%;
    }
}
.container {
	height:679px;
	position:relative;
	overflow:hidden;
    margin:auto;
}

.css-carousel {
  width:500%;
  -webkit-animation: css-carousel 20s linear infinite;
	-moz-animation: css-carousel 20s linear infinite;
	-ms-animation: css-carousel 20s linear infinite;
	animation: css-carousel 20s linear infinite;
}

.css-carousel .css-img{
  display:inline-block;
}
.css-carousel img:not(:first-child){
  float:left;
}


.window{
    width:270px;
    height:697px;
}
.window-header{
    width: 94px;
    height: 49px;
    color: #248f40;
    font-size: 26px;
    font-weight: 500;
    margin:auto;
}
.window-pic{
    width: 270px;
    height: 283px;  
    margin-top:44px;
    background-image:url(../img/window.png);
}
.window-cost{
    width:270px;
    height:auto;
}
.costs{
    width:100%;
    height:auto;
    margin-top:10px;
}
.costs div{
    display:inline-block;
}
.window-type{
    width: 51px;
    height: 25px;
    color: #131313;
    font-size: 20px;
    font-weight: 300;
}
.type-cost{
    width: 120px;
    height: 35px;
    color: #535353;
    font-size: 20px;
    font-weight: 300;
    float:right;
}
.type-cost span{
    width:auto;
    height:auto;
    font-size: 30px;
    font-weight: 600; 
    color:inherit;
}
.buy-btn{
    width: 270px;
    height: 50px;
    background-color: #248f40; 
    margin-top:15px;
}
.buy-text{
    width: 109px;
    height: 14px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left:80px;
    margin-top:18px;
    position:absolute;
}
.wind-disc{
    width: 270px;
    height: 71px;
    color: #535353;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    text-align:left;
}
.why-we{
    width:100%;
    height:724px;
    background-color:#131313;
}
.why-we-img{
    height:724px;
    z-index:1;
    position: absolute;
}
.thats-why{
    width: 100%;
    height:724px;
    z-index:2;
    position:absolute;
}
.off-header img{
    width:13px;
    height:13px;
    position:static;
}
.reasons{
    width:176px;
    height:auto;
    position:static;
    display:inline-block;
    margin-top:84px;
}
.reason{
    color: white;
    font-size: 18px;
    font-weight: 300;
    text-align:center;
}
.re-1{
    width: 176px;
    margin-left:15%;
}
.re-1 img{
    margin-left:59px;
}
.re-2{
    width: 220px; 
    margin-left:10%;
}
.re-2 img{
    margin-left:77px;
}
.re-3{
    width: 187px; 
    margin-left:7%;
}
.re-3 img{
    margin-left:50px;
}
.re-4{
    width: 249px;
    margin-left:5%;
}
.re-4 img{
    margin-left:95px;
}
.re-5{
    width: 246px;
    margin-left:12%;
}
.re-5 img{
    margin-left:92px;
}
.re-6{
    width: 240px; 
    margin-left:7%;
}
.re-6 img{
    margin-left:80px;
}
.re-7{
    width: 217px; 
    margin-left:5%;
}
.re-7 img{
    margin-left:75px;
}
.re-8{
    width: 178px;
    margin-left:7%;
}
.re-8 img{
    margin-left:59px;
}
.final-reason{
    width: 946px;
    height: 113px;
    color: white;
    font-family:"exo2light";
    font-size: 18px;
    font-weight: 200;
    line-height: 24px;
    margin-left:328px;
    margin-top:45px;
    text-align:center;
}
.forma{
    width: 313px;
    height: 399px;  
    background-image:url(../img/forma-pic.png);
    font-family: "exo2light";
}
.form-head{
    width: 174px;
    height: 14px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;  
    margin-top:33px;
    margin-left:46px;
}
.mgmt{
    width: 156px;
    height: 50px;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;  
    margin-left:46px;
    margin-top:16px;
}
.inputs{
    width: 249px;
    height: 35px;
    border: 1px solid #767676;  
    background:inherit;
    margin-left:36px;
    margin-top: 25px;
}
.forma button{
    margin-top:28px;
    margin-left:35px;
}
.dates{
    width:auto;
    height:auto;
    margin-top:20px;
    margin-left:5%;
}
.day{
    width:auto;
    height:auto;
    margin-right:25px;
    display:inline-block;
}
.zero{
    width: 35px;
    height: 46px;   
    display:inline-block; 
    margin-right:5xp;
    background:inherit;
    border:1px solid #ffffff;
}
.zero-pic{
    width: 17px;
    height: 25px;
    font-size: 36px;
    font-family:"exo2light";
    margin-top:2px;
    margin-left:5px;
}
.dates-text{
    width:100%;
    height:auto;
    font-size: 10px;
    font-weight: 100;   
    text-align:center;
    margin-top:10px;
}