@font-face {
    font-family: "UbuntuRegular";
    src: url("../fonts/UbuntuRegular.eot");
    src: url("../fonts/UbuntuRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/UbuntuRegular.woff") format("woff"),
    url("../fonts/UbuntuRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {    
    font-family:"Open Sans";
    src:url("../fonts/OpenSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body{
    width:100%;
    height: 3300px;
}
*{
    font-family:"UbuntuRegular";
    color:#FFFFFF;
    background-size:cover;
    margin:0;
}
a{
    text-decoration:none;
}
.our-img-one{
    width:41px;
    height:44px;
    padding:23px 0 0 24px;
}
.elli-pic-1{
    margin:23px 0 0 24px;
}
.elli-pic-2{
    margin:22px 0 0 25px;
}
.elli-pic-3{
    margin:30px 0 0 22px;
}
.elli-pic-4{
    margin: 28px 0 0 25px;
}
.elli-pic-5{
    margin:26px 0 0 30px;
}
@media(min-width:1024px){
    .head{
        width:100%;
        height:668px;
        background-image:url(../img/por/maison-eric--035.png);
    }
    .navbar{
        width:100%;
        height:66px;
        margin-top:43px;
        position:absolute;
    }
    .nav-cent{
        width:550px;
        height:inherit;
        margin:auto;
    }
    .nav-elem{
        width: 100px;
        height: 8px;
        color: white;
        font-size: 12px;
        font-weight: 400;
        line-height: 48px;
        text-transform: uppercase;  
        display:inline-block;
    }
    .nav-elem a{
        margin-top:10px;
        position:absolute;
    }
    .logo{
        width: 70px;
        height: 66px;
        background-color: #262223;  
        position: absolute;
    }
    .m{
        width: 26px;
        height: 25px;
        color: white;
        font-family: "Open Sans";
        font-size: 35px;
        font-weight: 400;
        line-height: 48px;
        text-transform: uppercase;  
        margin-left:18px;
        margin-top:7px
    }
    .design{
        width: 34px;
        height: 7px;
        color: white;
        font-family: "Open Sans";
        font-size: 8px;
        font-weight: 300;
        line-height: 48px;
        text-transform: uppercase;  
        margin-left:18px;
    }
    .header{
        width:566px;
        height: 37px;
        font-size: 50px;
        font-weight: 500;
        line-height: 48px;
        text-transform: uppercase;
        margin-left:30%;
        margin-top:337px;
        position:absolute;
        text-align:center;
    }
    .head-text{
        width: 763px;
        height: 40px;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        text-align:center;
        margin-top:417px;
        margin-left:25%;
        position:absolute;
    }
    .circles{
        width:auto;
        height:13px;
        margin-top:626px;
        margin-left:45%;
        position:absolute;
    }
    .circle{
        width:13px;
        height:13px;
        margin-left: 17px;
        display:inline-block;
    }
    .about-us{
        width:100%;
        height:470px;
        background:#FFFFFF;
    }
    .michael{
        width:250px;
        height:315px;
        position:absolute;
        margin-top:88px;
        margin-left:10%;
        display:inline-block;
    }
    .dupere{
        width:250px;
        height:250px;
        background-image:url(../img/por/photo-accueil-michele-dupere.png);
    }
    .name{
        margin-top:23px;
        color:#666;
        font-weight: 700;
        text-transform: uppercase;  
        text-align:center;
    }
    .prof{
        margin-top:10px;
        color:#666;
        font-weight: 400;
        text-align:center;
    }
    .about{
        width: 751px;
        height: 342px;
        color: #666;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px; 
        display: inline-block;
        margin-top:60px;
        margin-left:30%;
    }
    .about-head{
        width: 111px;
        height: 14px;
        color: #5f5c5d;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        text-transform: uppercase;
    }
    .about-text{
        width: 751px;
        height: 289px;
        color: #666;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;  
        margin-top:39px;
        position:absolute;
    }
    .works{
        width:100%;
        height:355px;
        background-color: #262223;  
    }
    .work-head{
        width:100%;
        height: 80px;
    }
    .our{
        width: 132px;
        height: 14px;
        color: #e4e3e3;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        text-transform: uppercase;  
        margin-top:33px;
        margin-left:45%;
        position:absolute;
    }
    .work-pic{
        width:20%;
        height: 275px;
        display:inline-block;
        background:grey;
        float:left;
    }
    .work-pic img{
        width:100%;
        height:inherit;
    }
    .pic{
        width:100%;
        height:275px;
        position:absolute;
    }
    .our-ser{
        width:100%;
        height:490px;
        background-image:url(../img/por/our-ser-bg.png);
        margin-top:80px;
    }
    .our-head{
        width: 158px;
        height: 14px;
        color: #5f5c5d;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        text-transform: uppercase; 
        margin-top:61px;
        position:absolute;
        margin-left:44%;
    }
    .our-des{
        width: 529px;
        height: 38px;
        color: #444;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        margin-top:107px;
        text-align:center;
        margin-left:31%;
        position:absolute;
    }
    .our-fun{
        width:100%;
        height:263px;
    }
    .our-fun-elem{
        width:20%;
        height:inherit;
        display:inline-block;
        float:left;
    }
    .our-fun-elem-pic{
        width:89px;
        height:89px;
        background-image:url(../img/por/ellipse-big.png);
        margin:auto;
        margin-top:223px;
    }
    .our-elem-disc{
        width: 163px;
        height: 56px;
        color: #666;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align:center;
        padding-top:33px;
        margin:auto;
    }
    .hear{
        width:100%;
        height:250px;
        background-color: #ae3852;
    }
    .hear-head{
        width:100%;
        height:64px;
        padding-top:46px;
        text-align:center;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        text-transform: uppercase;
    }
    .hear-disc{
        width: 473px;
        height: 35px;
        color: #e3e3e3;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align:center;
        margin-top:28p;
        margin:auto;
    }
    .quotation-btn{
        width: 205px;
        height: 44px;
        border: 1px solid white;
        border-radius: 3px;
        margin-left:44%;
        margin-top:28px;
    }
    .quotation{
        width: 134px;
        height: 13px;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        text-transform: uppercase;
        margin-top:12px;
        margin-left:20%;
    }
    .awesome{
        width:100%;
        height:371px;
        background-color:#FFFFFF;
    }    
    .awesome-pic{
        width: 75px;
        height: 75px;   
        margin:auto;
        margin-top:53px;
        background-image:url(../img/por/download.png); 
    }
    .awesome-head{
        width: 220px;
        height: 14px;
        color: #ae3852;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        text-transform: uppercase;
        margin:auto;
        margin-top:32px;
        text-align:center;
    }   
    .awesome-text{
        width: 620px;
        height: 83px;
        color: #555;
        font-size: 14px;
        font-weight: 400;
        line-height: 23px;
        text-align:center;
        margin:auto;
        margin-top:25px;
    }
    .awesome-jane{
        width: 70px;
        height: 11px;
        color: #555;
        font-size: 16px;
        font-weight: 700;
        line-height: 25px; 
        margin:auto;
        margin-top:27px;
        text-align:center;
    }
    .contact{
        width:100%;
        height:235px;
        background-color: #f6f6f6;
    }
    .contact-head{
        width: 149px;
        height: 14px;
        color: #555;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        text-transform: uppercase; 
        text-align:center;
        margin:auto;
        padding-top:42px;
    }
    .contacts{
        width:100%;
        height:135px;
        margin-top:35px;
    }
    .conti{
        width:33.3%;
        height:inherit;
        float:left;
    }
    .avatar-one{
        width:24px;
        height:29px;
        margin:auto;
    }
    .avatar-two{
        width: 29px;
        height:29px;
        margin:auto;
    }
    .avatar-three{
        width:34px;
        height:25px;
        margin:auto;
    }
    .conti-disc{
        width: 173px;
        height: 35px;
        color: #666;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align:center;
        margin-top:40px;
        margin-left:11%;
        position:absolute;
    }
    .red-rhomb{
        width: 96px;
        height: 96px;
        background-image:url(../img/rectangle-1-copy-2.png);
        margin:auto;
        margin-top:40px;
        margin-bottom:30px;
    }
    .logo-btm{
        margin:15px 15px 15px 15px;
    }
    .btm-disc{
        width: 253px;
        height: 10px;
        color: #444;
        font-size: 10px;
        font-weight: 400;
        line-height: 25px;  
        margin:auto;
        text-align:center;
    }
    .links{
        width:300px;;
        height:16px;
        margin-top:35px;
        margin-left:47%;
    }
    .fb{
        width: 9px;
        height: 16px;
        background-image:url(../img/facebook-logo.png);
        display:inline-block;
    }
    .ins{
        width: 15px;
        height: 15px;
        margin-left:21px;
        background-image:url(../img/instagram-social-network-logo-of-photo-camera.png);
        display:inline-block;
    }
    .in{
        width: 17px;
        height: 15px;
        margin-left:20px;
        background-image:url(../img/linked-in-logo.png);
        display:inline-block;
    }
}
.project{
        width:100%;
        height: 478px;
        background-color: #262223;
        top:1493px;
        position:absolute;
        z-index:2;
        display:none;
    }
    .proj-header{
        width: 136px;
        height: 14px;
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        text-transform: uppercase;
        left:12%;
        top:38px;
        position:absolute;
    }
    .pink{
        width: 126px;
        height: 20px;
        background-color: #ae3852;
        border-radius: 3px;
        left:22%;
        top:38px;
        position:absolute;
    }
    .pink-text{
        width: 107px;
        height: 10px;
        font-size: 10px;
        font-weight: 400;
        line-height: 25px;
        margin-left:15px;
    }
    .cuisine{
        width: 49px;
        height: 8px;
        text-decoration:underline; 
        font-size: 12px;
        font-weight: 400;
        line-height: 25px;
        text-transform: uppercase;
        top:78px;
        left:12%;
        position:absolute;
    }
    .salle{
        width: 93px;
        height: 8px;
        opacity: 0.5;
        font-size: 12px;
        font-weight: 400;
        line-height: 25px;
        text-transform: uppercase;
        left:18%;
        top:78px;
        position:absolute;
    }
    .another{
        width: 211px;
        left:27%;
    }
    .ste-text{
        width: 651px;
        height: 77px;
        opacity: 0.6;
        color: #e7e7e7;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        position:absolute;
        top:117px;
        left:12%;
    }
    .ste-photos{
        top:221px;
        left:10%;
        position:absolute;
        width:auto;
        height:207px;
    }
    .ste-ph{
        width: 270px;
        height: 207px;
        background-image:url(../img/maison-eric--026.png);
        margin-left:31px;
        display:inline-block;
    }
    .another-red{
        width:inherit;
        height: 3px;
        background-color: #ae3852;
        top:475px;
        position:absolute;
    }
