@font-face{
    font-family:"roboto";
    src:url(../fonts/Roboto-Light.ttf);
}
@font-face{
    font-family:"roboto-bold";
    src:url(../fonts/Roboto-Black.ttf);
}
*{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style-type:none;
    font-family:"roboto";
    z-index:1;
} 
a:visited{
    color:white;
}
header{
    width:90%;
    height:800px;
    padding:0 5%;
    background-image: url(../img/udg/header-bg.png);
}
nav{
    width:100%;
    height:50px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-end;
    padding-top:30px;
}
.logo{
    width:auto;
    height:auto;
    position:absolute;
    top:50px;
    left:20px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}
.navigation{
    width:100%;
    height:500px;
    display:none;
    flex-direction: column;
    justify-content:space-around;
    position:absolute;
    right:0;
    top:120px;
    background-color:#2e827b;
    font-weight:bolder;
    z-index:2;
}
.navigation li{
    padding:5px;
    margin:0 10px;
    text-align:center;
}
nav-a{
    color:white;
}
nav-a:hover{
    color:#8dc63f;
}
#seek,#menu{
    display:none;
}
#menu:checked+.navigation{
    display:flex;
}
#seek:checked+.search-field{
    display:block;
}
.search{
    width:30px;
    height:20px;
    text-align:center;
    color:#8dc63f;
}
.search-field{
    width:300px;
    height:30px;
    padding:0 10px;
    background-color:aliceblue;
    opacity:0.7;
    border:0;
    position:absolute;
    top:120px;
    display:none;
}
.language{
    background:inherit;
    padding:5px;
    border:1px solid #8dc63f;
    color:white;
}
.menu{
    width:30px;
    height:30px;
}
.sandwich:nth-child(2){
    background-color:aliceblue;
}
.sandwich{
    width:90%;
    height:3px;
    background-color: #8dc63f;
    margin-top:5px;
    margin-left:5%;
}
.carousel{
    width:100%;
    height:650px;
    display:flex;
    justify-content:space-around;
    align-items: center;
    font-size:35px;
    color:white; 
}
.carousel-title{
    font-family:"roboto-bold";
    font-size:50px;
}
.carousel-header{
    border-left:6px solid #8dc63f;
    padding-left:20px;
}
.about{
    width:90%;
    padding:30px 5%;
    display:flex;
    flex-direction: column;
}
.headers{
    width:100%;
    font-family:"roboto-bold";
    font-size:40px;
}
.about-group{
    display:flex;
    flex-direction: column;
}
.about-group *{
    margin-top:30px;
}
.about-group-pic{
    width:290px;
    height:350px;
}
.about-text{
    max-width:700px;
}
.read-more{
    text-decoration:underline;
    color:#439c92;
}
.read-more:visited{
    color:#439c92;
}
.title{
    display:flex;
    flex-direction: row;
}
.portfolio{
    width:90%;
    padding:30px 5%;
    margin-top:50px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.portfolio-examples{
    max-width:700px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items: center;
    color:white;
}
.portfolio-title{
    width:250px;
}
.portfolio-examples *{
    margin:10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.portfolio-examples-one{
    width:290px;
    height:350px;
    background-image:url(../img/udg/port-1.png);
}
.portfolio-examples-two{
    width:290px;
    height:369px;
    background-image:url(../img/udg/port-2.png);
}
.portfolio-examples-three{
    width:290px;
    height:368px;
    background-image:url(../img/udg/port3.png);
}
.portfolio-examples-four{
    width:290px;
    height:368px;
    background-image:url(../img/udg/port-4.png);
}
.portfolio-examples-one:hover{
    background-image:url(../img/udg/port-1.2.png);
}
.portfolio-examples-one:hover>.portfolio-examples-btn{
    background-color:inherit;
}
.portfolio-examples-two:hover{
    background-image:url(../img/udg/port-2.2.png);
}
.portfolio-examples-two:hover>.portfolio-examples-btn{
    background-color:inherit;
}
.portfolio-examples-three:hover{
    background-image:url(../img/udg/port3.2.png);
}
.portfolio-examples-three:hover>.portfolio-examples-btn{
    background-color:inherit;
}
.portfolio-examples-four:hover{
    background-image:url(../img/udg/port-4.2.png);
}
.portfolio-examples-four:hover>.portfolio-examples-btn{
    background-color:inherit;
}
.portfolio-headers{
    font-family:"roboto-bold";
    font-size:30px;
}
.portfolio-examples-btn{
    border-radius:3px;
    background-color:#2e827b;
    border:1px solid #2e827b;
    padding:5px;
    font-family:"roboto-bold";
    width:90px;
    color:white;
}
.statistic{
    width:90%;
    padding:30px 5%;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align: center;
    color: white;
    background-image: url(../img/udg/statistic-br-1.png);
    background-size:cover;
}
.statistic-each{
    width:50%;
    padding:10px;
    border-bottom:5px solid #8dc63f;
}
.news{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-around;
}
.article{
    width:280px;
    height:530px;
    padding:20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.article>*,.article{
    margin-top:30px;
}
.article-title{
    font-family:"roboto-bold";
    font-size:20px;
}
.whom,.whom:visited{
    color:#2e827b;
}
.news-title{
    width:auto;
    margin:auto;
    display:flex;
    flex-direction: row;
}
.statistic-each:last-child{
    border-bottom:0;
}
.news-more{
    width:100%;
    background-color:#2e827b;
    border:0;
    padding:10px;
    font-family:"roboto-bold";
    color:#fff;
}
.connect{
    width:90%;
    padding:30px 5%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:#f3fafa;
}
.contact{
    width:350px;
    height:250px;
    padding:50px 0;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
}
.contacts{
    width:220px;
    display:flex;
    flex-direction: row;
}
.write{
    padding:50px;
}
.form{
    width:inherit;
    height:inherit;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form input{
    background:inherit;
    height:30px;
    border:0;
    border-bottom:1px solid grey;
    box-sizing: border-box;
}
.form input:active{
    border-bottom:2px solid #2e827b;
}
#form-send{
    height:48px;
    background-color:#2e827b;
    color:white;
    font-family:"roboto-bold";
    border-radius:3px;
    font-size:20px;
}
#form-name,#form-mail,#form-message,#form-send{
    width:100%;
    margin-top:30px;
}
footer{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    position:absolute;
    color:#adadad;
}
.links{
    width:100%;
    padding:20px 0;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    background-color:white;
}
.links a{
    margin:0 10px;
}
.copyright{
    padding:20px 0;
    display:none;
}
.by{
    padding:20px 0;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    background-color:#333333;
}
@media(min-width:762px){
    .logo{
        flex-direction:column;
    }
}
@media(min-width:992px){
    .menu{
        display:none;
    }
    .navigation{
        width:45%;
        height:20px;
        display:flex;
        flex-direction: row;
        position: inherit;
        font-weight:100;
        background-color:inherit;
    }
    .about,.portfolio,.statistic{
        width:70%;
        padding:60px 15%;
    }
    .about-group{
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .headers:not(".news-title"){
        width:250px;
    }
    .about-group-pic{
        margin-left:50px;
    }
    .statistic{
        background-image: url(../img/udg/statistic-bg-2.png);
        flex-direction:row;
    }
    .statistic-each{
        border-bottom:0;
        border-left:5px solid #8dc63f;
    }
    .statistic-each:last-child{
        border-right:5px solid #8dc63f;
    }
    #form-name,#form-mail{
        width:45%;
    }
    #form-message{
        width:100%;
    }
    #form-send{
        width:175px;
    }
    footer{
        width:90%;
        padding:0 5%;
        flex-direction: row;
        justify-content: space-between;
        background-color:#333333;
    }
    .links{
        width:auto;
        background-color:inherit;
    }
    .copyright{
        display:block;
    }
    .by,.copyright,links{
        width:335px;
    }
}
@media(min-width:1150px){
    .portfolio{
        flex-direction:row;
    }
}
@media(min-width:1300px){
   
}