body{
    margin:0;
    font-family:arial;
    background-color:#DCDCDC;   
    color:#1a1a1a;
    height:1250px;
}
h1{
    text-align:center;
}
a,a:hover,a:visited{
    text-decoration:none;
    color:#1a1a1a;
}
.head{
    width:100%;
    height:auto;
    margin-bottom:50px;
    
}
.face img{
    border-radius:50%;
}
.sup{
    text-align:center;
    font-size:5em;
}
.vertical{
    width:94%;
    height:1px; 
    margin-left:3%;
    background-color:firebrick;
}
.about-me{
    width:100%;
    height:auto;
    margin-bottom:20px;
}
.cont-head{
    width:100%;
    height:inherit;
    margin-top:50px;
}
.clmn{
    width:100%;
    height:auto;
    font-size:1.5em;
    justify-content:space-around;
    margin-top:50px;
}
.rw-cl{
    height:auto;
    margin-top:30px;
    justify-content:space-around;
    margin-bottom:30px;
}
.icons{
    width:30px;
    height:30px;
    background-size:cover;
    align-items:flex-end;
}
.ml{
    width:35px;
}
@media(max-width:767px){
    .about-me{
        justify-content:space-around;
        display:flex;
        flex-direction:column;
    }
    .face{
        width:100%;
        height:auto;
    }
    .face img{
        margin-top:50px;
        margin-left:25%;
    }
    .sup{
        width:100%;
        height:auto;
        font-size:4em;
        margin-top:30px;
    }
    .col{
        width:80%;
        height:auto;
        margin-left:10%;
        margin-top:20px;
        display:flex;
        flex-direction:column;
        text-align:justify;
    }
    .clmn{
        display:block;
    }
    .rw-cl{
        width:70%;
        flex-direction:column;
    }
}
@media(min-width:768px){
    .head, .about-me{
        justify-content:space-around;
        display:inline-flex;
        flex-direction:row;
    }
    .face{
        width:40%;
        height:inherit;
    }
    .face img{
        margin-left:10%;
        margin-top:100px;
    }
    .sup{
        width:60%;
        height:inherit;
    }
    .col{
        width:25%;
        height:auto;
        margin-right:2%;
        margin-top:20px;
        text-align:justify;
    }
    .name{
        width:90%;
        margin-top:100px;
        margin-left:10%;
        text-align:left; 
    }
    .clmn{
        display:inline-flex;
    }
    .rw-cl{
        width:40%;
        flex-direction:row;
    }
}
@media(min-width:992px){
    .face img{
        margin-left:30%;
    }
    .name{
        width:90%;
        margin-left:0;
        text-align:left; 
    }
}