*{
    margin:0;
}
main{
    width:80%;
    height:auto;
    padding:40px 10%;
}
.companies>span{
    width:33%;
}
.comp{
    widows: 350px;
    height:auto;
    display:flex;
    flex-direction:column;
    border:1px solid black;
    border-radius:3px;
    margin:20px;
    box-sizing: padding-box;
    padding:10px;
    display:flex;
    flex-direction:column;
}
.comp>span{
    width:auto;
    margin-right:5px;
}
.btn{
    width:45%;
    border:0;
    margin-right:10px;
    margin-top:10px;
    margin-bottom:10px;
    padding:10px;
    border-radius:3px;
}
#companyForm{
    width:400px;
    height:200px;
    z-index:10;
    position:absolute;
    background-color: bisque;
    box-sizing:padding-box;
    padding:10px;
    display:none;
    flex-direction: column;
    justify-content:space-between;
    border-radius:3px;
    left:40%;
}
.companyForm-label{
    width:inherit;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}